[project]
	description = implementing gatt (general attribute profile) for low energy bluetooth devices
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/XY1996
[access "refs/for/refs/*"]
	read = group user/XY1996
	push = group user/XY1996
	label-Code-Review = -2..+2 group user/XY1996
	label-Verified = -1..+1 group user/XY1996
	rebase = group user/XY1996
	removeReviewer = group user/XY1996
	submit = group user/XY1996
[access "refs/heads/*"]
	read = group user/XY1996
	create = group user/XY1996
	push = +force group user/XY1996
	pushMerge = group user/XY1996
[access "refs/tags/*"]
	push = group user/XY1996
	push = +force group user/XY1996
